<%- layout ('layouts/main.ejs') %>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-4 text-center">
            <h3>Registrarse</h3>
            <div class="card-body">
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Insert Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Insert password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success btn-block mt-4">
                        Signup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>