<%- layout ('layouts/main.ejs') %>

<br>
<h1>RESERVE SU ESTADIA</h1>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-4 text-center">
            <h3>RESERVA</h3>
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <input type="fechaI" placeholder="fecha Inicio" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="fechaF" placeholder="fecha Fin" class="form-control">
                    </div>
                    <div class="form-group">
                        <select name="" id="input">
                            <option value=""> Elegir habitación </option>
                            <option value="">H1</option>
                            <option value="">H2</option>
                            <option value="">H3</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success btn-block mt-4">
                        enviar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>